---
import Arrow from "/images/advantages/slider-arrow.svg?raw";

import data from "../data/index.json";
const s = data.advantages;
---

<section class="advantages overflow-hidden section">
  <div class="container">
    <!-- title -->
    <h2 class="section-title mb-5 xl:mb-16" set:html={s.title} />

    <!-- text -->
    <p class="mb-6">{s.text}</p>

    <!-- cards swiper -->
    <div class="cards-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper mb-6">
        <!-- Slides -->
        {
          s.cards.map((card) => (
            // card item
            <li class="swiper-slide flex! h-auto! flex-col gap-3! rounded-2xl bg-card p-4 font-inter xl:w-97.25! xl:p-8">
              {/* wrapper */}
              <div class="mx-auto flex flex-col items-center justify-center gap-6">
                {/* card image */}
                <img
                  src={card.img}
                  title={card.alt}
                  alt={card.alt}
                  width="56"
                  height="56"
                  loading="lazy"
                />
                {/* card title */}
                <h3 class="text-center text-[24px]/[1.4] font-semibold text-[#05012c]">
                  {card.title}
                </h3>
              </div>

              {/* card text */}
              <h4 class="text-center text-[#3c3a4f]">{card.text}</h4>
            </li>
          ))
        }
      </ul>

      <!-- If we need navigation buttons -->
      <div class="mx-auto flex w-full items-center justify-center gap-2">
        <button class="button-prev slider-btn" type="button"
          ><Fragment set:html={Arrow} />
        </button>
        <button class="button-next rotate-180 slider-btn" type="button"
          ><Fragment set:html={Arrow} />
        </button>
      </div>
    </div>

    <!-- subtitle -->
    <h3
      class="mt-6 mb-11 text-center text-[24px]/[1.2] font-semibold text-black xl:mt-16">
      {s.subtitle}
    </h3>

    <!-- reviews -->
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";

  // https://swiperjs.com/swiper-api#parameters

  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(" .cards-swiper", {
      modules: [Navigation],
      navigation: {
        nextEl: ".cards-swiper .button-next",
        prevEl: ".cards-swiper .button-prev",
      },
      centeredSlides: true,
      loop: true,
      spaceBetween: 20,
      updateOnWindowResize: true,
      breakpoints: {
        768: {
          slidesPerView: 2,
          spaceBetween: 16,
        },
        1280: {
          grabCursor: true,
          initialSlide: 2,
          loop: false,
          slidesPerView: "auto",
          spaceBetween: 16,
        },
      },
    });
  });
</script>
